:root {
  font-family: Inter, system-ui,  Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-image: url( ./assets/smapweather.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}